body {
    /* Fix 0.9em font size causing super small text size! */
    font-size: 1.2em !important;
}

.groups-table {
    margin-left: 1em;
    max-width: 900px;
}

h2, h3 {
    font-weight: bold;
}

h3 {
    margin-left: 1em;
    padding-bottom: 5px;
}

.show-members-btn {
    margin: 5px;
}

.member-list {
    list-style-type: none;
}

/* FIXME: Can probably use the bootstrap grid for this? */
.modal-body {
    height: 300px;
    overflow-y: auto;
}

.group-container .form-control, .modal-body .form-control {
    padding: 6px 12px;
    height: 34px;
}

.group-description {
    margin-bottom: 1em;
}

.clipboard-help-text {
    color: green;
}

.member-list .member .name {
    display: inline-block;
    width: 15em;
    margin-right: 2em;
    overflow: hidden;
}

.member-list .member .eid {
    display: inline-block;
    width: 6em;
    margin-right: 2em;
    overflow: hidden;
}

.member-list .member .role {
    display: inline-block;
    width: 12em;
    overflow: hidden;
}

small.text-danger {
    font-weight: bold;
}
