<div> <!-- <div class="container"> -->
  <div> <!-- <div class="col-md-12"> -->
    <h2>Manage Google Groups</h2>

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}

    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th class="col-md-3">NYU Classes Group Name</th>
          <th class="col-md-6">Google Group Details</th>
        </tr>
      </thead>
      <tbody>
          <tr><th colspan="4">Site Group</th></tr>
          {{#each wholeSite}}
              {{> edu/nyu/classes/groupersync/tool/views/grouprows}}
          {{/each}}
      </tbody>
      {{#if sections}}
      <tbody>
          <tr><th colspan="4">Sections</th></tr>
          {{#each sections}}
              {{> edu/nyu/classes/groupersync/tool/views/grouprows}}
          {{/each}}
      </tbody>
      {{/if}}
      {{#if adhocGroups}}
          <tbody>
              <tr><th colspan="4">Adhoc Groups</th></tr>
              {{#each adhocGroups}}
                  {{> edu/nyu/classes/groupersync/tool/views/grouprows}}
              {{/each}}
          </tbody>
      {{/if}}

    </table>

    <div id="modal-area" data-keyboard="true" class="modal fade" style="display: none" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">List of members</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script id="crud-template" type="text/template">

        <div class="create-group-container">
            <form class="create-group-form" method="POST">

                <input type="hidden" name="sakai_csrf_token" value="{{csrfToken}}" />
                <input type="hidden" class="sakaiGroupId" name="sakaiGroupId" />

                <div class="form-group">
                    <label for="group-description">Group description</label>
                    <input required="true" type="text" class="form-control description" maxlength=70 name="description" placeholder="Description of new group">
                    <div>
                        <small style="display: none" class="description-character-count text-muted">
                            <span class="characters-remaining"></span> characters remaining
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="group-address">Group address</label>
                    <div class="input-group">
                        <input required="true" type="text" class="form-control address" name="groupId" placeholder="Address of new group">
                        <span class="input-append input-group-addon requiredSuffix">{{requiredSuffix}}</span>
                        <span class="input-append input-group-btn">
                            <button type="button" class="btn btn-default reset-address-btn"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                    </div>
                    <div>
                        <small style="display: none" class="group-address-character-count text-muted">
                            <span class="characters-remaining"></span> characters remaining
                        </small>
                    </div>
                    <div class="invalid-address-input" style="display: none">
                        <small class="text-danger">Invalid address entered</small>
                    </div>
                </div>

                <button type="submit" class="btn submit-btn btn-primary">Submit</button>
            </form>
        </div>

    </script>

  </div>
</div>
